<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.BeatMessageDao">


    <!-- 心跳数据入库 -->
    <insert id="saveBeatMessage" parameterType="com.tw.entity.BeatMessage">
        insert into beatMessage
        (frame,mesNo,mesDate,groupName,deviceName,deviceModel,serial,exeStatus,ip)
        values(#{frame},#{mesNo},#{mesDate},#{groupName},#{deviceName},#{deviceModel},#{serial},#{exeStatus},#{ip})
    </insert>

    <!-- 根据 serial 查询心跳信息 -->
    <select id="findBySerial" parameterType="java.lang.String"  resultType="com.tw.entity.BeatMessage">
        select *
        from beatMessage beat
        where beat.serial=#{serial}
        order by mesDate desc
        limit 1
    </select>



</mapper>