<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.DeviceGroupRelateDao">


    <!-- 添加对象 -->
    <insert id="addDeviceGroupRelate" parameterType="com.tw.entity.DeviceGroupRelate">
        INSERT INTO
            deviceGroupRelate
            (groupId, deviceId)
        VALUES
            (#{groupId}, #{deviceId})
    </insert>

    <update id="deleteByDeviceGroupRelate" parameterType="com.tw.entity.DeviceGroupRelate">
        UPDATE
            deviceGroupRelate a
        SET
            isValid = '0'
        WHERE
            isValid = '1'
        <if test="id != 0 and id != null">
            AND id = #{id}
        </if>
        <if test="deviceId != 0 and deviceId != null">
            AND deviceId = #{deviceId}
        </if>
        <if test="groupId != 0 and groupId != null">
            AND groupId = #{groupId}
        </if>
    </update>



    <!-- 更新关联管理 -->
    <update id="updateDeviceGroupRelateBy" parameterType="com.tw.entity.DeviceGroupRelate">
        UPDATE
            deviceGroupRelate
        SET
            deviceId = #{deviceId},
            groupId = #{groupId}
        WHERE
            id = #{id}
        AND
            isValid = #{isValid}
    </update>


 <!-- 根据groupId获得对象 -->
    <select id="getDeviceGroupByGroupId" parameterType="int" resultType="com.tw.entity.DeviceGroupRelate">
        SELECT
            a.*
        FROM
            deviceGroupRelate a
        WHERE
            isValid = '1'
        AND
            a.groupId = #{groupId}
    </select>


    <!-- 根据条件查询内容 -->
    <select id="getDeviceGroupRelateByCondition" parameterType="int" resultType="com.tw.entity.DeviceGroupRelate">
        SELECT
            a.*
        FROM
            deviceGroupRelate a
        WHERE
            1=1
        <if test="groupId != 0">
            AND groupId = #{groupId}
        </if>
        <if test="deviceId != 0">
            AND deviceId = #{deviceId}
        </if>
            AND isValid = '1'
    </select>

</mapper>