<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.DevGroupDao">


    <!-- 增加devGroup -->
    <insert id="addDevGroup" parameterType="com.tw.entity.DevGroup" useGeneratedKeys="true" keyProperty="groupId">
        INSERT INTO
            devGroup
            (groupName)
        values
            (#{groupName})
    </insert>


    <!-- 删除devGroup -->
    <update id="deleteDevGroupById" parameterType="int">
        UPDATE
            devGroup
        SET
            isValid = '0'
        WHERE
            groupId = #{groupId}
        AND
            isValid = '1'
    </update>


    <!-- 修改devGroup -->
    <update id="updateDevGroup" parameterType="com.tw.entity.DevGroup">
        UPDATE
            devGroup
        SET
            groupName = #{groupName}
        WHERE
            groupId = #{groupId}
        AND
            isValid = '1'
    </update>


    <!-- 根据devGroupId查询devGroup -->
    <select id="getDevGroupById" parameterType="int" resultType="com.tw.entity.DevGroup">
        SELECT
            *
        FROM
            devGroup
        WHERE
            groupId = #{groupId}
        AND
            isValid = '1'
    </select>


    <!-- 根据devGroupName查询devGroup -->
    <select id="getDevGroupByGroupName" parameterType="String" resultType="com.tw.entity.DevGroup">
        SELECT
            *
        FROM
            devGroup
        WHERE
            groupName = #{groupName}
        AND
            isValid = '1'
    </select>

    <!-- 根据 device serial 查询devGroup -->
    <select id="getDevGroupBySerial" parameterType="String" resultType="com.tw.entity.DevGroup">
        SELECT
            g.*
        FROM
            devGroup g
        LEFT JOIN deviceGroupRelate dgr on dgr.groupId = g.groupId
        LEFT JOIN device d on dgr.deviceId = d.deviceId
        WHERE
            d.serial = #{serial}
        AND
            g.isValid = '1'
        AND
            dgr.isValid = '1'
        AND
            d.isValid = '1'
    </select>



</mapper>