<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.DeviceDao">

    <!-- 新增设备 -->
    <insert id="addDevice" parameterType="com.tw.entity.Device">
        INSERT INTO
            device
            (deviceName, serial, deviceVerifyCode, deviceType, softVersion, productDate)
        VALUES
            (#{deviceName}, #{serial}, #{deviceVerifyCode}, #{deviceType}, #{softVersion}, #{productDate})
    </insert>


    <!-- 删除device -->
    <delete id="deleteDevice" parameterType="map">
        UPDATE
            device
        SET
            isValid = #{isValid}
        WHERE
            deviceId = #{deviceId}

    </delete>


    <!-- 修改device -->
    <update id="updateDevice" parameterType="com.tw.entity.Device">
        UPDATE
            device
        SET
            deviceName = #{deviceName},
            serial = #{serial},
            deviceVerifyCode = #{deviceVerifyCode},
            deviceType = #{deviceType},
            softVersion =  #{softVersion},
            productDate = #{productDate},
            deviceStatus = #{deviceStatus},
            isOnline = #{isOnline},
            ipAddress = #{ipAddress},
            newBeatTime = #{newBeatTime},
            oldBeatTime = #{oldBeatTime}
        WHERE
            deviceId = #{deviceId}
    </update>


    <select id="getDeviceById" parameterType="java.util.Map" resultType="com.tw.entity.Device">
        SELECT
            *
        FROM
            device
        WHERE
            deviceId = #{deviceId}
        AND
            isValid = #{isValid}
    </select>

    
    <!-- 根据条件查询device -->
    <select id="getDeviceByCodition" parameterType="com.tw.entity.Device" resultType="com.tw.entity.Device">
        SELECT
            *
        FROM
            device
        WHERE
            1=1
        <if test="deviceId != 0">
            AND deviceId = #{deviceId}
        </if>
        <if test="deviceName != null ">
            AND deviceName = #{deviceName}
        </if>
        <if test="serial != null ">
            AND serial = #{serial}
        </if>
        <if test="deviceVerifyCode != null ">
            AND deviceVerifyCode = #{deviceVerifyCode}
        </if>
        <if test="deviceType != null ">
            AND deviceType = #{deviceType}
        </if>
        <if test="softVersion != null ">
            AND softVersion = #{softVersion}
        </if>
        <if test="productDate != null ">
            AND productDate = #{productDate}
        </if>
        <if test="deviceStatus != '\0' ">
            AND deviceStatus = #{deviceStatus}
        </if>
        <if test="isOnline != '\0' ">
            AND isOnline = #{isOnline}
        </if>
        <if test="ipAddress != null ">
            AND ipAddress = #{ipAddress}
        </if>
        <if test="isValid != '\0' ">
            AND isValid = #{isValid}
        </if>
    </select>


    <!-- 根据传入vuser信息条件查询设备号 -->
    <select id="getDeviceByUser" parameterType="com.tw.entity.VUser" resultType="java.lang.String">
        SELECT d.serial
        from vUser v join userDeviceRelate u on v.userID=u.userId
        join device d on u.deviceId=d.deviceId
        <where>
            <if test="phoneNumber != null and phoneNumber !=''">
                 v.phoneNumber LIKE '%${phoneNumber}%'
            </if>
            <if test="userID !=null and userID!=''">
                and  v.userID like  '%${userID}%'
            </if>
            and  v.isValid='1'
        </where>
    </select>


    <!-- 根据查询条件获得总数 -->
    <select id="getTotalOfCondition" parameterType="com.tw.entity.Device" resultType="int">
        SELECT
            count(a.deviceId)
        FROM
            device a
        WHERE
            1=1
        AND a.isValid = '1'
        <if test="serial != null and serial != ''">
            AND a.serial like "%"#{serial}"%"
        </if>
        <if test="deviceType != null and deviceType != ''">
            AND a.deviceType like "%"#{deviceType}"%"
        </if>
        <if test="productDate != null and productDate != ''">
            AND a.productDate like "%"#{productDate}"%"
        </if>
    </select>


    <!-- 根据条件查询device分页 -->
    <select id="getDeviceByCoditionPage" parameterType="java.util.Map" resultType="com.tw.entity.Device">
        SELECT
        *
        FROM
        device
        WHERE
        1=1
        <if test="deviceId != 0">
            AND deviceId = #{deviceId}
        </if>
        <if test="deviceName != null ">
            AND deviceName = #{deviceName}
        </if>
        <if test="serial != null ">
            AND serial = #{serial}
        </if>
        <if test="deviceVerifyCode != null ">
            AND deviceVerifyCode = #{deviceVerifyCode}
        </if>
        <if test="deviceType != null ">
            AND deviceType = #{deviceType}
        </if>
        <if test="softVersion != null ">
            AND softVersion = #{softVersion}
        </if>
        <if test="productDate != null ">
            AND productDate = #{productDate}
        </if>
        <if test="deviceStatus != '\0' ">
            AND deviceStatus = #{deviceStatus}
        </if>
        <if test="isOnline != '\0' ">
            AND isOnline = #{isOnline}
        </if>
        <if test="ipAddress != null ">
            AND ipAddress = #{ipAddress}
        </if>
        <if test="isValid != '\0' ">
            AND isValid = #{isValid}
        </if>
        ORDER BY
            createTime
        DESC
        LIMIT
            #{start}, #{pageSize}
    </select>


    <!-- 根据条件查询device总数 -->
    <select id="getCountOfLikCondition" parameterType="java.util.Map" resultType="int">
        SELECT
            count(deviceId)
        FROM
            device
        WHERE
            1=1
        <if test="deviceId != 0">
            AND deviceId = #{deviceId}
        </if>
        <if test="deviceName != null ">
            AND deviceName = #{deviceName}
        </if>
        <if test="serial != null ">
            AND serial = #{serial}
        </if>
        <if test="deviceVerifyCode != null ">
            AND deviceVerifyCode = #{deviceVerifyCode}
        </if>
        <if test="deviceType != null ">
            AND deviceType = #{deviceType}
        </if>
        <if test="softVersion != null ">
            AND softVersion = #{softVersion}
        </if>
        <if test="productDate != null ">
            AND productDate = #{productDate}
        </if>
        <if test="deviceStatus != '\0' ">
            AND deviceStatus = #{deviceStatus}
        </if>
        <if test="isOnline != '\0' ">
            AND isOnline = #{isOnline}
        </if>
        <if test="ipAddress != null ">
            AND ipAddress = #{ipAddress}
        </if>
        <if test="isValid != '\0' ">
            AND isValid = #{isValid}
        </if>
    </select>


    <!-- 根据设备序列号、设备型号和设备的生产日期进行模糊搜索 -->
    <select id="getDeviceLikeCondition" parameterType="java.util.Map" resultType="com.tw.entity.Device">
        SELECT
            a.*
        FROM
            device a
        WHERE
            1=1
        AND
            a.isValid = '1'
        <if test="serial != null and serial != ''">
            AND a.serial like "%"#{serial}"%"
        </if>
        <if test="deviceType != null and deviceType != ''">
            AND a.deviceType like "%"#{deviceType}"%"
        </if>
        <if test="productDate != null and productDate != ''">
            AND a.productDate like "%"#{productDate}"%"
        </if>
        ORDER BY
            a.createTime
        DESC
        LIMIT
            #{start}, #{end}
    </select>
</mapper>