<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.DeviceVideoDao">


    <!-- 根据条件查询serial eventId -->
    <select id="getWarningInfoDesc"  resultType="String">
        SELECT
        warningVideoPath
        FROM
        deviceVideo
        WHERE
        1=1
        <if test="serial != null">
            AND serial = #{serial}
        </if>
        <if test="eventId != null ">
            AND eventId = #{eventId}
        </if>


    </select>



    <select id="getWarningInfoList"  resultType="com.tw.entity.DeviceVideo" >
        SELECT
        *
        FROM
        deviceVideo
        WHERE
         serial = #{serial}

    </select>


    <!-- 新增视频 -->
    <insert id="AddVideo" parameterType="com.tw.entity.DeviceVideo">
        INSERT INTO
        deviceVideo
        (serial, eventId, warningVideoName,warningVideoPath,warningTime,isValid)
        VALUES
        (#{serial}, #{eventId}, #{warningVideoName}, #{warningVideoPath}, #{warningTime}, #{isValid})
    </insert>



</mapper>