<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.DeviceVideoDao">


    <!-- 根据条件查询serial eventId -->
    <select id="getWarningInfoDesc"  resultType="String">
        SELECT
        warningVideoPath
        FROM
        deviceVideo
        WHERE
        1=1
        <if test="serial != null">
            AND serial = #{serial}
        </if>
        <if test="eventId != null ">
            AND eventId = #{eventId}
        </if>
        order by createTime desc  limit 1

    </select>



    <select id="getWarningInfoList"  resultType="com.tw.entity.DeviceVideo" >
        SELECT
        a.id,
        a.eventId,
        a.serial,
        a.warningVideoName,
        a.warningVideoPath,
        a.warningTime,
        a.fileType,
        a.warningPictureLittle,
        a.warningPictureBig,
        a.description,
        a.liveStreaming,
        a.createTime,
        a.isValid,
        CONCAT(CAST(date_format(ifnull(b.mesDate,b.createTime), '%Y年%m月%d日%h时%m分%s秒')  AS CHAR CHARACTER SET utf8)
        ,CAST(ifnull(b.groupName,'') AS CHAR CHARACTER SET utf8)
        ,CAST(ifnull(b.deviceName,'') AS CHAR CHARACTER SET utf8)
        ,'发现目标，并成功告警。') as warningMessage
        FROM deviceVideo a
        LEFT JOIN warningMessage b ON a.eventId=b.eventId
        WHERE
         a.serial = #{serial}
        <if test="pageNo != null  and pageSize!=null ">
         LIMIT ${(pageNo-1)*pageSize},${pageSize};
        </if>
    </select>



    <!-- 新增视频 -->
    <insert id="AddVideo" parameterType="com.tw.entity.DeviceVideo">
        INSERT INTO
        deviceVideo
        (serial, eventId, warningVideoName,warningVideoPath,warningTime,isValid)
        VALUES
        (#{serial}, #{eventId}, #{warningVideoName}, #{warningVideoPath}, #{warningTime}, #{isValid})
    </insert>



</mapper>