<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.LoginMessageDao">


    <!-- 登陆数据入库 -->
    <insert id="saveLoginMessage" parameterType="com.tw.entity.LoginMessage">
        INSERT INTO loginMessage
        (frame,serial,deviceVerifyCode,deviceType,softVersion,productDate,rand)
        VALUES(#{frame},#{serial},#{deviceVerifyCode},#{deviceType},#{softVersion},#{productDate},#{rand})
    </insert>

    <!-- 根据 serial 查询心跳信息 -->
    <select id="findBySerial" parameterType="java.lang.String"  resultType="com.tw.entity.LoginMessage">
        select *
        from loginMessage login
        where login.serial=#{serial}
    </select>

    <!-- 根据 serial 修改心跳信息 -->
    <update id="updateIsValidBySerial" parameterType="com.tw.entity.LoginMessage" >
        UPDATE
            loginMessage
        <set>
            isValid = #{isValid},
            updateTime = #{updateTime},
        </set>
        WHERE
            serial=#{serial}
    </update>

    <!-- 更新登陆信息 -->
    <update id="modifyLogin" parameterType="com.tw.entity.LoginMessage">
        update loginMessage
        <set>
            <if test="frame != null and frame !=''">
                frame = #{frame},
            </if>
            <if test="serial != null and serial != ''">
                serial = #{serial},
            </if>
            <if test="deviceVerifyCode != null and deviceVerifyCode != ''">
                deviceVerifyCode = #{deviceVerifyCode},
            </if>
            <if test="deviceType != null and deviceType != ''">
                deviceType = #{deviceType},
            </if>
            <if test="softVersion != null and softVersion != ''">
                softVersion = #{softVersion},
            </if>
            <if test="productDate != null and productDate != ''">
                productDate = #{productDate},
            </if>
            <if test="rand != null and rand != ''">
                rand = #{rand},
            </if>
            <if test="updateTime!=null">
                updateTime=#{updateTime},
            </if>
        </set>
        <where>
            <if test="serial !=null and serial != ''">
                serial = #{serial}
            </if>
        </where>
    </update>

</mapper>