<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.LogListDao">


    <!--日志数据入库-->
    <insert id="addLogList" parameterType="com.tw.entity.LogList">
        insert into logList(serial,logNum,ipAddress,logName,logTime,logPath) values(#{serial},#{logNum},#{ipAddress},#{logName},#{logTime},#{logPath})
    </insert>

    <!-- 根据 serial 查询日志信息 -->
    <select id="getLogListBySerialPage" parameterType="java.util.Map"  resultType="com.tw.entity.LogList">
        SELECT
          *
        FROM
          logList
        <where>
            isValid='1'
            <if test="serial != null">
                AND serial=#{serial}
            </if>
            <if test="startTime != null and startTime != ''">
                AND logTime &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND logTime &lt; #{endTime}
            </if>
        </where>
        order by logTime desc
        limit ${start}, ${pageSize}
    </select>

    <!--查询总数-->
    <select id="getTotalBySerial" parameterType="java.util.Map"  resultType="java.lang.Integer">
        select
            COALESCE(count(*), 0)
        FROM
            logList
        <where>
            isValid='1'
            <if test="serial != null">
                AND serial=#{serial}
            </if>
            <if test="startTime != null and startTime != ''">
                AND logTime &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND logTime &lt; #{endTime}
            </if>
        </where>
        order by logTime desc
        limit ${start}, ${pageSize}
    </select>

</mapper>