<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.RootInfoDao">


    <!-- 根据条件查询是否存在该数据 -->
    <select id="getRootInfo" parameterType="com.tw.entity.RootInfo" resultType="com.tw.entity.RootInfo">
        SELECT
        *
        FROM
        rootInfo
        WHERE
        1=1
        <if test="rootPhone != null">
            AND rootPhone = #{rootPhone}
        </if>
        <if test="loginPassword !=null">
            AND loginPassword = #{loginPassword}
        </if>
        <if test="secondPassword != null">
            AND secondPassword = #{secondPassword}
        </if>
    </select>

</mapper>