<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.dao.RootDeviceGroupDao">

    <!-- root添加设备分组 -->
    <insert id="addRootGroup" parameterType="java.lang.String">
        INSERT INTO
            rootDeviceGroup
            (deviceId, rootDeviceGroupId, rootDeviceGroupName)
        VALUES
            (0, (select max(a.rootDeviceGroupId) from rootDeviceGroup a where a.isValid = '1') + 1, #{rootDeviceGroupName})
    </insert>


    <!-- 更新root分组 -->
    <update id="moveRootGroup" parameterType="java.util.Map">
        UPDATE
            rootDeviceGroup
        SET
            rootDeviceGroupId = #{newGroupId},
            rootDeviceGroupName = #{newRootGroupName}
        WHERE
            rootDeviceGroupId = #{oldGroupId}
        AND
            deviceId = #{deviceId}
        AND
            isValid = '1'
    </update>

    <!-- 根据groupId拿到分组名 -->
    <select id="getGroupNameByCondition" parameterType="int" resultType="java.lang.String">
        SELECT
            max(a.rootDeviceGroupName)
        FROM
            rootDeviceGroup a
        WHERE
            a.deviceId = 0
        AND
            a.rootDeviceGroupId = #{newGroupId}
        AND
            a.isValid = '1'
    </select>


    <!-- 获得所有的设备分组 -->
    <select id="getAllRootDeviceGroup" resultType="com.tw.entity.RootDeviceGroup">
        SELECT
            a.*
        FROM
            rootDeviceGroup a
        WHERE
            a.isValid = '1'
    </select>


    <!-- 根据root的分组id获得设备列表 -->
    <select id="getRootDeviceByGroupId" parameterType="int" resultType="com.tw.entity.Device">
        SELECT
            a.*
        FROM
            device a
        LEFT JOIN
            rootDeviceGroup b
        ON
            b.deviceId = a.deviceId
        WHERE
            a.isValid = '1'
        AND
            b.isValid = '1'
        AND
            b.rootDeviceGroupId = #{groupId}
    </select>
</mapper>