<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.VUserDao">


	<!-- 新建一个用户 -->
	<insert id="creatUser" parameterType="com.tw.entity.VUser">
		insert into vUser
		(phoneNumber,password)
		values(#{phoneNumber},#{password})
	</insert>

	<!-- 根据传入的信息查找对应的用户信息 -->
	<select id="queryUser" parameterType="com.tw.entity.VUser"
			resultType="com.tw.entity.VUser">
		select * from vUser
		<where>
			<if test="userID !=null and id!=''">
				userID =#{userID}
			</if>
			<if test="nickName!=null and nickName!=''">
				and nickName=#{nickName}
			</if>
			<if test="password !=null and password !=''">
				and password =#{password}
			</if>
			<if test="createTime!=null and createTime!=''">
				and createTime=#{createTime}
			</if>
			<if test="isValid!=null and isValid!=''">
				and isValid=#{isValid}
			</if>
		</where>
	</select>

	<!-- 更新客户信息 -->
	<update id="modifyUser" parameterType="com.tw.entity.VUser">
		update vUser
		<set>
			<if test="nickName != null and nickName !=''">
				nickName = #{nickName},
			</if>
			<if test="password != null and password != ''">
				password = #{password},
			</if>
		</set>
		<where>
			<if test="phoneNumber !=null and phoneNumber!=''">
				phoneNumber = #{phoneNumber}
			</if>
		</where>
	</update>



</mapper>