<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tw.dao.AttachDao">

    <!--返回一个随机数-->
    <select id="qryGuid" resultType="String">
        select sys_guid() from dual
    </select>


    <!-- 新建一个用户 -->
    <insert id="creatUser" parameterType="com.tw.entity.User">
        insert into user_info
        (id,giftNo,gift,name,sex,address,birth)
        values(#{id},#{giftNo},#{gift},#{name},#{sex},#{address},#{birth})
    </insert>

    <!-- 更新客户信息 -->
    <update id="modifyUser" parameterType="com.tw.entity.User">
        update user_info
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="address != null and address !=''">
                address = #{address},
            </if>
            <if test="birth != null and birth !=''">
                birth = #{birth},
            </if>
            <if test="gift != null and gift!=''">
                gift = #{gift}
            </if>
        </set>
        <where>
            <if test="id !=null and id!=''">
                ID = #{id}
            </if>
            <if test="giftNo!=null and giftNo!=''">
                and giftNo=#{giftNo,jdbcType=VARCHAR}
            </if>
        </where>
    </update>





</mapper>